In [0]:
import pandas as pd

In [0]:
file_url = 'http://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter11/dataset/horse-colic.data'

In [0]:
df = pd.read_csv(file_url, header=None, sep='\s+', prefix='X')

In [4]:
df.head()

  X0  X1       X2     X3   X4  X5 X6  ...   X21 X22 X23    X24 X25 X26 X27
0  2   1   530101  38.50   66  28  3  ...     ?   2   2  11300   0   0   2
1  1   1   534817   39.2   88  20  ?  ...     2   3   2   2208   0   0   2
2  2   1   530334  38.30   40  24  1  ...     ?   1   2      0   0   0   1
3  1   9  5290409  39.10  164  84  4  ...  5.30   2   1   2208   0   0   1
4  2   1   530255  37.30  104  35  ?  ...     ?   2   2   4300   0   0   2

[5 rows x 28 columns]

In [0]:
df = pd.read_csv(file_url, header=None, sep='\s+', prefix='X', na_values='?')

In [6]:
df.head()

    X0  X1       X2    X3     X4    X5  ...  X22  X23    X24  X25  X26  X27
0  2.0   1   530101  38.5   66.0  28.0  ...  2.0    2  11300    0    0    2
1  1.0   1   534817  39.2   88.0  20.0  ...  3.0    2   2208    0    0    2
2  2.0   1   530334  38.3   40.0  24.0  ...  1.0    2      0    0    0    1
3  1.0   9  5290409  39.1  164.0  84.0  ...  2.0    1   2208    0    0    1
4  2.0   1   530255  37.3  104.0  35.0  ...  2.0    2   4300    0    0    2

[5 rows x 28 columns]

In [7]:
df.dtypes

X0     float64
X1       int64
X2       int64
X3     float64
X4     float64
X5     float64
X6     float64
X7     float64
X8     float64
X9     float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23      int64
X24      int64
X25      int64
X26      int64
X27      int64
dtype: object

In [8]:
df.isna().sum()

X0       1
X1       0
X2       0
X3      60
X4      24
X5      58
X6      56
X7      69
X8      47
X9      32
X10     55
X11     44
X12     56
X13    104
X14    106
X15    247
X16    102
X17    118
X18     29
X19     33
X20    165
X21    198
X22      1
X23      0
X24      0
X25      0
X26      0
X27      0
dtype: int64

In [0]:
x0_mask = df['X0'].isna()

In [10]:
x0_mask.sum()

1

In [11]:
x0_median = df['X0'].median()
print(x0_median)

1.0

In [0]:
df['X0'].fillna(x0_median, inplace=True)

In [13]:
df['X0'].isna().sum()

0

In [14]:
for col_name in df.columns:
  col_median = df[col_name].median()
  df[col_name].fillna(col_median, inplace=True)
  print(col_name)
  print(col_median)

X0
1.0
X1
1.0
X2
530305.5
X3
38.2
X4
64.0
X5
24.5
X6
3.0
X7
2.0
X8
3.0
X9
1.0
X10
3.0
X11
3.0
X12
2.0
X13
2.0
X14
1.0
X15
5.0
X16
3.0
X17
4.0
X18
45.0
X19
7.5
X20
2.0
X21
2.25
X22
1.0
X23
1.0
X24
2673.5
X25
0.0
X26
0.0
X27
2.0

In [15]:
df.isna().sum()

X0     0
X1     0
X2     0
X3     0
X4     0
X5     0
X6     0
X7     0
X8     0
X9     0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
X24    0
X25    0
X26    0
X27    0
dtype: int64