In [ ]:
import pandas as pd
from sklearn.cluster import KMeans
import altair as alt

In [ ]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter05/DataSet/taxstats2015.csv'

In [ ]:
df = pd.read_csv(file_url, usecols=['Postcode', 'Average total business income', 'Average total business expenses'])

In [ ]:
X = df[['Average total business income', 'Average total business expenses']]

In [ ]:
kmeans = KMeans(random_state=1, n_clusters=4, init='random', n_init=1)
kmeans.fit(X)

In [ ]:
df['cluster3'] = kmeans.predict(X)

In [ ]:
scatter_plot = alt.Chart(df).mark_circle()

In [ ]:
scatter_plot.encode(x='Average total business income', y='Average total business expenses',color='cluster3:N',
tooltip=['Postcode', 'cluster3', 'Average total business income', 'Average total business expenses']
).interactive()

In [ ]:
kmeans = KMeans(random_state=1, n_clusters=4, init='random', n_init=10)
kmeans.fit(X)
df['cluster4'] = kmeans.predict(X)
scatter_plot = alt.Chart(df).mark_circle()

scatter_plot.encode(x='Average total business income', y='Average total business expenses',color='cluster4:N',
tooltip=['Postcode', 'cluster4', 'Average total business income', 'Average total business expenses']
).interactive()

In [ ]:
kmeans = KMeans(random_state=1, n_clusters=4, init='random', n_init=100)
kmeans.fit(X)
df['cluster5'] = kmeans.predict(X)
scatter_plot = alt.Chart(df).mark_circle()
scatter_plot.encode(x='Average total business income', y='Average total business expenses',color='cluster5:N',
tooltip=['Postcode', 'cluster5', 'Average total business income', 'Average total business expenses']
).interactive()