In [0]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter06/Dataset/bank-additional-full.csv', sep=';')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [6]:
df.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [8]:
cat_cols = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
_df = pd.get_dummies(df, columns=cat_cols, prefix=cat_cols, drop_first=True)
_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 54 columns):
age                              41188 non-null int64
duration                         41188 non-null int64
campaign                         41188 non-null int64
pdays                            41188 non-null int64
previous                         41188 non-null int64
emp.var.rate                     41188 non-null float64
cons.price.idx                   41188 non-null float64
cons.conf.idx                    41188 non-null float64
euribor3m                        41188 non-null float64
nr.employed                      41188 non-null float64
y                                41188 non-null object
job_blue-collar                  41188 non-null uint8
job_entrepreneur                 41188 non-null uint8
job_housemaid                    41188 non-null uint8
job_management                   41188 non-null uint8
job_retired                      41188 non-null uint8
job_self-employed                41188 non-null uint8
job_services                     41188 non-null uint8
job_student                      41188 non-null uint8
job_technician                   41188 non-null uint8
job_unemployed                   41188 non-null uint8
job_unknown                      41188 non-null uint8
marital_married                  41188 non-null uint8
marital_single                   41188 non-null uint8
marital_unknown                  41188 non-null uint8
education_basic.6y               41188 non-null uint8
education_basic.9y               41188 non-null uint8
education_high.school            41188 non-null uint8
education_illiterate             41188 non-null uint8
education_professional.course    41188 non-null uint8
education_university.degree      41188 non-null uint8
education_unknown                41188 non-null uint8
default_unknown                  41188 non-null uint8
default_yes                      41188 non-null uint8
housing_unknown                  41188 non-null uint8
housing_yes                      41188 non-null uint8
loan_unknown                     41188 non-null uint8
loan_yes                         41188 non-null uint8
contact_telephone                41188 non-null uint8
month_aug                        41188 non-null uint8
month_dec                        41188 non-null uint8
month_jul                        41188 non-null uint8
month_jun                        41188 non-null uint8
month_mar                        41188 non-null uint8
month_may                        41188 non-null uint8
month_nov                        41188 non-null uint8
month_oct                        41188 non-null uint8
month_sep                        41188 non-null uint8
day_of_week_mon                  41188 non-null uint8
day_of_week_thu                  41188 non-null uint8
day_of_week_tue                  41188 non-null uint8
day_of_week_wed                  41188 non-null uint8
poutcome_nonexistent             41188 non-null uint8
poutcome_success                 41188 non-null uint8
dtypes: float64(5), int64(5), object(1), uint8(43)
memory usage: 5.1+ MB

In [9]:
_df.head()

   age  duration  ...  poutcome_nonexistent  poutcome_success
0   56       261  ...                     1                 0
1   57       149  ...                     1                 0
2   37       226  ...                     1                 0
3   40       151  ...                     1                 0
4   56       307  ...                     1                 0

[5 rows x 54 columns]

In [0]:
X = _df.drop(['y'], axis=1)
X = X.values
y = df['y'].apply(lambda x: 0 if x == 'no' else 1)
y = y.values

In [0]:
train_X, eval_X, train_y, eval_y = train_test_split(X, y, test_size=0.3, random_state=0)
val_X, test_X, val_y, test_y = train_test_split(eval_X, eval_y, random_state=0)

In [0]:
lr_model = LogisticRegression()

In [13]:
lr_model.fit(train_X, train_y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [0]:
lr_preds = lr_model.predict(val_X)

In [15]:
lr_report = classification_report(val_y, lr_preds)
print(lr_report)

              precision    recall  f1-score   support

           0       0.93      0.98      0.95      8220
           1       0.67      0.40      0.50      1047

    accuracy                           0.91      9267
   macro avg       0.80      0.69      0.72      9267
weighted avg       0.90      0.91      0.90      9267

In [0]:
dt_model = DecisionTreeClassifier(max_depth= 6)

In [17]:
dt_model.fit(train_X, train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=6, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [0]:
dt_preds = dt_model.predict(val_X)

In [19]:
dt_report = classification_report(val_y, dt_preds)
print(dt_report)

              precision    recall  f1-score   support

           0       0.94      0.96      0.95      8220
           1       0.66      0.54      0.60      1047

    accuracy                           0.92      9267
   macro avg       0.80      0.75      0.78      9267
weighted avg       0.91      0.92      0.91      9267

In [23]:
rf_model = RandomForestClassifier(n_estimators=1000)
rf_model.fit(train_X, train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=1000,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
rf_preds = rf_model.predict(val_X)

In [25]:
rf_report = classification_report(val_y, rf_preds)
print(rf_report)

              precision    recall  f1-score   support

           0       0.94      0.97      0.95      8220
           1       0.68      0.47      0.56      1047

    accuracy                           0.92      9267
   macro avg       0.81      0.72      0.75      9267
weighted avg       0.91      0.92      0.91      9267

In [26]:
print('Linear Score: {}, DecisionTree Score: {}, RandomForest Score: {}'.format(lr_model.score(val_X, val_y), dt_model.score(val_X, val_y), rf_model.score(val_X, val_y)))

Linear Score: 0.9100032372936225, DecisionTree Score: 0.9172331930506097, RandomForest Score: 0.915182907089673