# Grid Search with Cross Validation

In [1]:
# import libraries
import pandas as pd

In [2]:
# data doesn't have headers, so let's create headers
_headers = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'car']
# read in cars dataset
df = pd.read_csv('https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter07/Dataset/car.data', names=_headers, index_col=None)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1728 non-null   object
 1   maint     1728 non-null   object
 2   doors     1728 non-null   object
 3   persons   1728 non-null   object
 4   lug_boot  1728 non-null   object
 5   safety    1728 non-null   object
 6   car       1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [3]:
# encode categorical variables
_df = pd.get_dummies(df, columns=['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety'])
_df.head()

     car  buying_high  buying_low  ...  safety_high  safety_low  safety_med
0  unacc            0           0  ...            0           1           0
1  unacc            0           0  ...            0           0           1
2  unacc            0           0  ...            1           0           0
3  unacc            0           0  ...            0           1           0
4  unacc            0           0  ...            0           0           1

[5 rows x 22 columns]

In [4]:
# separate features and labels DataFrames
features = _df.drop(['car'], axis=1).values
labels = _df[['car']].values

In [5]:
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [6]:
clf = DecisionTreeClassifier()

In [7]:
params = {'max_depth': np.arange(1, 8)}

In [8]:
clf_cv = GridSearchCV(clf, param_grid=params, cv=5)

In [9]:
clf_cv.fit(features, labels)

GridSearchCV(cv=5, error_score=nan,
             estimator=DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features=None,
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              presort='deprecated',
                                              random_state=None,
                                              splitter='best'),
             iid='deprecated', n_jobs=None,
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7])},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [10]:
print("Tuned Decision Tree Parameters: {}".format(clf_cv.best_params_))

Tuned Decision Tree Parameters: {'max_depth': 2}

In [11]:
print("Best score is {}".format(clf_cv.best_score_))

Best score is 0.7778822149618833

In [12]:
model = clf_cv.best_estimator_
model

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')