In [0]:
import pandas as pd

In [0]:
file_url = 'https://raw.githubusercontent.com/PacktWorkshops/The-Data-Science-Workshop/master/Chapter12/Dataset/taxstats2015.csv'

In [0]:
df = pd.read_csv(file_url)

In [4]:
df.shape

(2473, 28)

In [5]:
df.head()

   Postcode  ...  Median super total accounts balance
0      2000  ...                                 1110
1      2006  ...                                15544
2      2007  ...                                 5225
3      2008  ...                                10373
4      2009  ...                                20494

[5 rows x 28 columns]

In [6]:
df['Postcode'].nunique()

2473

In [0]:
postcode_url = 'https://github.com/PacktWorkshops/The-Data-Science-Workshop/blob/master/Chapter12/Dataset/taxstats2016individual06taxablestatusstateterritorypostcodetaxableincome%20(2).xlsx?raw=true'

In [0]:
postcode_df = pd.read_excel(postcode_url, sheet_name='Individuals Table 6B', header=2)

In [9]:
postcode_df.shape

(2567, 150)

In [10]:
postcode_df.head()

  State/ Territory1  ... Excess private health reduction or refund (rebate reduced) \n$
0               ACT  ...                                             854227
1               ACT  ...                                             173475
2               ACT  ...                                            1381661
3               ACT  ...                                            1004593
4               ACT  ...                                             754097

[5 rows x 150 columns]

In [11]:
postcode_df['Postcode'].nunique()

2567

In [0]:
merged_df = pd.merge(df, postcode_df, how='left', on='Postcode')

In [13]:
merged_df.shape

(2473, 177)

In [14]:
merged_df['State/ Territory1'].isna().sum()

4

In [15]:
merged_df.loc[merged_df['State/ Territory1'].isna(), 'Postcode']

631     3010
1494    4462
2072    6068
2332    6758
Name: Postcode, dtype: object